{
    "extends": [
        "react-app",
        "prettier",
        "prettier/react",
        "plugin:jsx-a11y/recommended"
    ],

    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "printWidth": 120,
                "jsxBracketSameLine": true
            }
        ]
    },

    "plugins": ["jsx-a11y", "prettier"]
}